from fastapi import FastAPI
from pydantic import BaseModel
from transformers import M2M100ForConditionalGeneration, M2M100Tokenizer
from transformers import M2M100ForConditionalGeneration, M2M100Tokenizer
from transliterate import translit